* {
  font-weight: var(--fw-regular);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--step-0);
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

.flow>*+* {
  margin-top: var(--flow-space, 1em);
}

/* header */
header {
  display: flex;
  position: fixed;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: var(--spacer-l);
  padding-inline: 6rem;
  width: 100%;
  z-index: 10;
}

@media (width <=750px) {
  header {
    padding-inline: var(--spacer-l);
  }
}

.header__logo {
  font-size: var(--step-0);
  text-transform: uppercase;
}

nav {
  display: flex;
  gap: 4rem;
  text-transform: uppercase;
  transition: opacity 0.3s;
}

@media (width <=750px) {
  nav {
    gap: var(--spacer-xs);
    flex-direction: column;
    align-items: flex-end;
  }

  .nav__projects {
    display: none;
  }
}

nav>div {
  display: flex;
  gap: 1rem;
}

/* nav hover underline */
nav a:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  background-color: var(--clr-text);
  transition: width 0.3s ease-in-out;
}

nav a:hover:after {
  width: 100%;
}

/* active section underline */
.active:after {
  display: block;
  content: "";
  height: 1px;
  width: 100%;
  background-color: var(--clr-text);
}

/* lazy load images */
.lazy__load {
  opacity: 0;
  transition: 0.8s ease-out;
  transform: translateY(4%);
}

.lazy__load-active {
  opacity: 1;
  transform: translateY(0);
}

/* type */
a {
  display: inline-block;
  color: var(--clr-text);
  text-decoration: none;
}

p {
  color: var(--clr-text);
}

h3 {
  font-family: var(--ff-logo);
  font-size: var(--step-2);
}


/* about.astro */
.about__wrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
  min-height: 100svh;
  margin-inline: auto;
  max-width: 80vw;
}

.about__span {
  /* max-width: 30ch; */
  font-family: var(--ff-logo);
  font-size: var(--step-2);
  padding-inline: var(--spacer-l);
}

.about__img {
  border-radius: 2px;
  width: max(100px, 12vw);
  filter: grayscale(1);
}

@media (width <=750px) {
  .about__wrap {
    flex-direction: column;
    gap: 1rem 0rem;
    max-width: 100%;
    padding-block-start: var(--header-height);
  }
}

/* index.astro  */
.index__wrap {
  display: grid;
  grid-template-columns: repeat(3, minmax(240px, 1fr));
}

@media (width <=750px) {
  .index__wrap {
    grid-template-columns: 1fr;
    padding-block-start: 16vh;
    padding-block-start: 16svh;
  }
}

.index__wrap>section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--spacer-l);
  min-height: 100vh;
  min-height: 100svh;
}

.index__wrap>section:nth-of-type(even) {
  border-left: 1px dashed var(--clr-text);
  border-right: 1px dashed var(--clr-text);
}

@media (width <=750px) {
  .index__wrap>section:nth-of-type(even) {
    border-left: 0px dashed;
    border-right: 0px dashed;
  }
}

@media (width <=750px) {
  .index__wrap>section {
    justify-content: center;
    gap: 1rem 0rem;
    margin-block-end: 12rem;
  }
}

.index__img img {
  aspect-ratio: 1429/759;
  object-fit: fill;
  border-radius: 2px;
  box-shadow: 0.25rem 0.25rem 0.75rem var(--box-shadow);
}

@media (width <=750px) {
  .index__img {
    width: 100%;
  }
}

.index__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: initial;
  visibility: hidden;
  margin-block-start: var(--spacer-xs);
  opacity: 0;
  transition: visibility 0.2s linear, opacity 0.2s linear;
  z-index: 10;
}

@media (width <=750px) {
  .index__title {
    visibility: visible;
    opacity: 1;
  }
}

.index__heading {
  max-width: 68ch;
  margin-top: var(--spacer-s);
  text-wrap: balance;
}

@media (width <=750px) {
  .index__heading {
    max-width: unset;
  }
}

/* all.astro */
.all__wrap {
  display: flex;
  place-items: center;
  min-height: 100svh;
}

.table__wrap {
  flex: 1;
  border-collapse: collapse;
  padding-inline: 2rem;
}

@media only screen and (width <=750px) {
  .table__wrap {
    padding-inline: 1rem;
  }
}

.table__wrap,
.table__wrap tbody,
.table__wrap thead {
  display: block;
  width: 100%;
}

.table__wrap td,
.table__wrap th {
  text-align: left;
}

.table__wrap td:last-child,
.table__wrap th:last-child {
  text-align: right;
}

.table__wrap th span {
  cursor: pointer;
}

.table__wrap tr {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed var(--clr-text);
  padding: 0.5rem 0;
  width: 100%;
}

[role=columnheader] {
  text-transform: uppercase;
}

@media only screen and (width <=750px) {

  .table__wrap tr {
    display: flex;
    justify-content: space-between;
  }
}

.td:not(:last-child) {
  width: 22%;
}

.td:last-child {
  width: fit-content;
}

@media only screen and (width <=750px) {
  .td:not(:last-child) {
    width: calc(50% - 1rem);
  }

  td.type,
  th.type {
    display: none;
  }
}

.table__wrap tr td a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr {
  transition: opacity 0.3s ease-in-out;
}

tbody:hover tr:not(:hover) {
  opacity: 0.4;
}