* {
  font-weight: var(--fw-regular);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-body);
  font-size: var(--step-0);
  color: var(--clr-text);
  background-color: var(--clr-bg);
}

.flow>*+* {
  margin-top: var(--flow-space, 0.7em);
}

/* lazy load images */
.lazy__load {
  opacity: 0;
  transition: 0.6s ease-out;
  transform: translateY(4%);
}

.lazy__load-active {
  opacity: 1;
  transform: translateY(0);
}

/* type */
a {
  display: inline-block;
  color: var(--clr-text);
  text-decoration: none;
}

p {
  color: var(--clr-text);
}

h3 {
  font-family: var(--ff-logo);
  font-size: var(--step-0);
}

.link {
  position: relative;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-text);
  transition: text-decoration-color 0.4s;
}

.link:hover {
  text-decoration-color: transparent;
}

/* header.astro */
header {
  display: flex;
  position: fixed;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: var(--spacer-m);
  padding-inline: 6rem;
  width: 100%;
  z-index: 10;
}

@media (width <=720px) {
  header {
    padding-inline: var(--spacer-m);
  }
}

nav {
  display: flex;
  gap: 4rem;
}

@media (width <=720px) {
  nav {
    gap: var(--spacer-xs);
    flex-direction: column;
    align-items: flex-end;
  }

  .nav__projects {
    display: none;
  }
}

nav>div {
  display: flex;
  gap: 1rem;
}

/* nav hover underline */
nav a {
  text-decoration-color: transparent;
}

nav a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-text);
  transition: text-decoration-color 0.4s;
}

/* active section underline */
.active {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-text);
}

/* about.astro */
#about {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
  min-height: 100svh;
  margin-inline: auto;
  max-width: 60vw;
}

.about__span {
  text-wrap: balance;
}

.about__img {
  border: 1px solid;
  border-radius: 2px;
  width: max(100px, 10vw);
  filter: grayscale(1);
  transition: filter 0.4s;
}

.about__img:hover {
  filter: grayscale(0);
}

@media (width <=720px) {
  #about {
    flex-direction: column;
    gap: 1rem 0rem;
    max-width: 100%;
    padding-block-start: var(--header-height);
  }

  .about__span {
    text-wrap: unset;
    padding-inline: var(--spacer-m);
  }
}

.about__thumb {
  display: none;
  border-radius: 2px;
  width: 100px;
  z-index: 100;
}

.link {
  cursor: pointer;
}

.link:hover .about__thumb {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 0px;
}

/* selected.astro  */
#selected {
  --min: 45ch;

  display: grid;
  gap: 4rem 0rem;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--min)), 1fr));
}

@media (width <=720px) {
  #selected {
    padding-block-start: 16svh;
  }
}

.select__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--spacer-l);
}

@media (width <=720px) {
  .select__section {
    justify-content: center;
    padding-inline: var(--spacer-m);
    margin-block-end: 12rem;
  }
}

.select__img img {
  aspect-ratio: 380/198;
  object-fit: fill;
  border-radius: 2px;
  box-shadow: 0.25rem 0.25rem 0.75rem var(--box-shadow);
  outline: 1px solid transparent;
}

.select__img img:hover {
  outline: 1px solid var(--clr-text);
}

@media (width <=720px) {
  .select__img {
    width: 100%;
  }
}

.select__info {
  width: 100%;
}

.select__heading {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--spacer-xs);
  margin-block-end: var(--spacer-s);
  text-transform: capitalize;
}

/* all.astro */
#all {
  display: flex;
  place-items: center;
  min-height: 100svh;
}

.table__wrap {
  flex: 1;
  border-collapse: collapse;
  font-family: var(--ff-logo);
  padding-inline: 1rem;
}

.table__wrap,
.table__wrap tbody,
.table__wrap thead {
  display: block;
  width: 100%;
}

.table__wrap td,
.table__wrap th {
  text-align: left;
}

.table__wrap td:last-child,
.table__wrap th:last-child {
  text-align: right;
}

.table__wrap th span {
  cursor: pointer;
}

.table__wrap tr {
  display: flex;
  justify-content: space-between;
  padding-block: 0.25rem;
  width: 100%;
}

.table__wrap tr:first-child {
  padding-block-start: 0.5rem;
}

tr.row {
  padding-block: 0rem;
}

.table__wrap th span {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-color: var(--clr-text);
  transition: text-decoration-color 0.4s;
}

.table__wrap th span:hover {
  text-decoration: none;
}

@media only screen and (width <=720px) {
  .table__wrap tr {
    display: flex;
    justify-content: space-between;
  }
}

.td:not(:last-child) {
  width: 22%;
}

.td:last-child {
  width: fit-content;
}

td.type {
  text-transform: capitalize;
}

@media only screen and (width <=720px) {
  .td:not(:last-child) {
    width: calc(50% - 1rem);
  }

  td.type,
  th.type {
    display: none;
  }
}

.table__wrap tr td a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

tr {
  transition: opacity 0.4s ease-in-out;
}

tbody:hover tr:not(:hover) {
  opacity: 0.4;
}

/* footer.astro */
footer {
  display: flex;
  position: sticky;
  bottom: 2rem;
  margin-inline: var(--spacer-m);
}

.footer__wrap {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
}

.footer__toggle {
  display: flex;
}

.footer__social {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

img.social__img {
  width: 20px;
  height: 20px;
}

.svg {
  fill: var(--clr-text);
}