---
import Layout from "@layouts/Layout.astro";
import About from "@components/About.astro";
import Selected from "@components/Selected.astro";
import All from "@components/All.astro";
import Footer from "@components/Footer.astro";
---

<Layout title="Klas Näsman">
  <section class="main__content">
    <About />
    <Selected />
    <All />
  </section>
  <Footer />
</Layout>

<style>
.main__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
</style>