---
import { Image } from "astro:assets";
import klas from "../assets/images/about.png";
import snowboard from "../assets/images/snowboard.gif";
import elasto from "../assets/images/elasto.gif";
---

<section id="about">
  <h2 class="visually-hidden">About</h2>
  <span class="about__span">
      <p>Hello,</p><p class="about__paragraph">I'm <span class="link">Klas<Image class="about__thumb" width={200} src={klas} alt="Klas" /></span>, a front-end developer with a love for design.
      Creativity has always been a big part of my life, whether through <span class="link">snowboarding<Image class="about__thumb" width={200} src={snowboard} alt="Snowboard" /></span>,
      <a class="link" href="https://brollop.klasnasman.com/" target="_blank">photography,</a> or my time as a furniture maker.</p><p>Mostly, I work with React, Typescript and Tailwind. I enjoy using <a class="link" href="https://astro.build/" target="_blank">Astro</a> and traditional CSS whenever possible. I do designs in Figma. And, for a completely unrelated fact, I once held a world record in <span class="link">Elasto Mania<Image class="about__thumb" width={200} src={elasto} alt="Elasto Mania" /></span>.</p>
  </span>
</section>
