<section id="about">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      I'm Klas, an enthusiastic front-end developer with a love for design. I'm currently pursuing my studies in Stockholm, Sweden. My
      creativity has been evident through my passion for <span class="link">snowboarding<img class="about__thumb" src="/images/snowboard.gif" alt="Snowboard" /></span>,
      photography, and experiences as a furniture maker.</p><p>Mostly, I work with React, Typescript and Tailwind. I enjoy using <a class="link" href="https://astro.build/">Astro</a> and traditional CSS whenever possible. I do designs in Figma, and there was a time when I held a world record on <a class="link" href="https://elastomania.com/">Elasto Mania<img class="about__thumb" src="/images/elasto.gif" alt="Elasto Mania" />
      </a>.
    </p>
  </span>
</section>
