<section id="about" class="about__wrap">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      I'm Klas, a web developer and photographer based in Stockholm, Sweden.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus,
      laudantium magnam obcaecati tempore dolorem, nisi, facere deserunt
      officiis quibusdam vel a maxime aspernatur saepe ab. Libero ratione
      necessitatibus rem aliquam!
    </p><p></p>
  </span>
</section>
