<section id="section1" class="about__wrap">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      Hello! <br />I'm Klas, a web developer and photographer based in
      Stockholm, Sweden.
    </p><p></p>
  </span>
</section>
