<section id="about" class="about__wrap">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      I'm Klas, a web developer based in Stockholm,
      Sweden.
    </p>
  </span>
</section>
