<section id="section1" class="about__wrap">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <h3>Hello!</h3>
    <p>
      I'm Klas, a web developer based in Stockholm, Sweden. I'm passionate about
      creating beautiful, functional and accessible web sites.
    </p><p></p>
  </span>
</section>
