<section id="about" class="about__wrap">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      I'm Klas, a dedicated and aspiring front end developer currently studying in Stockholm,
      Sweden. With a passion for snowboard and photography, and a background as a woodworker, I've always been creative. I now look forward to create beautiful and innovative web experiences.
My tech stack includes: 
    </p>
  </span>
</section>
