---
import { Image } from "astro:assets";
import klas from "../assets/images/about.png";
import snowboard from "../assets/images/snowboard.gif";
import elasto from "../assets/images/elasto.gif";
---

<section id='about'>
  <h2 class='visually-hidden'>Om</h2>
  <span class='about__span'>
    <p class='about__paragraph'>
      Hej, jag heter <span class='link'>Klas<Image class='about__thumb' width={200} src={klas} alt='Klas' /></span>,
      frontend-utvecklare baserad i Stockholm. Kreativitet har alltid varit en stor del av mitt liv, vare sig
      om det handlat om <span class='link'
        >snowboard<Image class='about__thumb' width={200} src={snowboard} alt='Snowboard' /></span
      >,
      <a class='link' href='https://brollop.klasnasman.com/' target='_blank'>fotografering</a> eller min tid som möbelsnickare.
    </p><p class='about__paragraph'>
      Jag arbetar främst med Next.js, men väljer gärna <a
        class='link'
        href='https://astro.build/'
        target='_blank'>Astro</a
      > när möjligheten finns. Design gör jag i Figma eller Penpot. Och som en helt orelaterad detalj höll jag en gång ett världsrekord i <span class='link'
        >Elasto Mania<Image class='about__thumb' width={200} src={elasto} alt='Elasto Mania' /></span
      >.
    </p>
  </span>
</section>
