---
import { Image } from "astro:assets";
import klas from "../assets/images/about.png";
import snowboard from "../assets/images/snowboard.gif";
import elasto from "../assets/images/elasto.gif";
---

<section id="about">
  <span class="about__span flow">
      <p>Hello,</p>I'm <span class="link">Klas<Image class="about__thumb" width={200} src={klas} alt="Klas" /></span>, an enthusiastic front-end developer with a love for design. I'm currently pursuing my studies in Stockholm, Sweden. My
      creativity has been evident through my passion for <span class="link">snowboarding<Image class="about__thumb" width={200} src={snowboard} alt="Snowboard" /></span>,
      photography, and experiences as a furniture maker.<p>Mostly, I work with React, Typescript and Tailwind. I enjoy using <a class="link" href="https://astro.build/">Astro</a> and traditional CSS whenever possible. I do designs in Figma, and there was a time when I held a world record on <span class="link">Elasto Mania<Image class="about__thumb" width={200} src={elasto} alt="Elasto Mania" /></span></p>.
  </span>
</section>
