<section id="section1" class="about__wrap">
  <img
    class="about__img"
    src="/images/about.png"
    alt=""
    height="auto"
    width="260"
    srcset=""
  />
  <span class="about__span flow">
    <h3>Hi there!</h3>
    <p>
      I'm Klas, an aspiring web developer based in Stockholm, Sweden. I'm
      passionate about creating beautiful, functional and accessible web sites.
    </p><p></p>
  </span>
</section>
