<section id="about" class="about__wrap">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      I'm Klas, a web developer and photographer based in Stockholm, Sweden.
      Lorem ipsum sit amet nisl suscipit adipiscing bibendum est ultricies
      integer quis auctor elit sed vulputate mi sit amet mauris.
    </p>
  </span>
</section>
