<section id="about">
  <img class="about__img" src="/images/about.png" alt="Klas" />
  <span class="about__span flow">
    <p>
      I'm Klas, an enthusiastic and aspiring front-end developer who also loves
      to design. I'm currently pursuing my studies in Stockholm, Sweden. My
      creativity has been evident through my passion for snowboarding,
      photography, and experiences as a furniture maker. Now, I'm eagerly working
      towards creating beautiful and innovative web experiences.<br /><br />I
      have experience in HTML, CSS, React, Vue, Astro,
      Cypress, APIs, Git, Figma.
    </p>
  </span>
</section>
