---
import { Image } from "astro:assets";
import klas from "../assets/images/about.png";
import snowboard from "../assets/images/snowboard.gif";
import elasto from "../assets/images/elasto.gif";
---

<section id="about">
  <h2 class="visually-hidden">Om</h2>
  <span class="about__span">
      <p>Hej,</p><p class="about__paragraph">jag heter <span class="link">Klas<Image class="about__thumb" width={200} src={klas} alt="Klas" /></span>, en frontend-utvecklare med ett hjärta för design.
      Kreativitet har alltid varit en stor del av mitt liv, oavsett om det handlar om <span class="link">snowboard<Image class="about__thumb" width={200} src={snowboard} alt="Snowboard" /></span>,
      <a class="link" href="https://brollop.klasnasman.com/" target="_blank">fotografering,</a> eller min tid som möbelsnickare.</p><p>Jag jobbar mest med React, Typescript och Tailwind. Jag använder <a class="link" href="https://astro.build/" target="_blank">Astro</a> så fort jag får chansen. Designar gör jag i Figma eller Penpot. Och, som ett helt orelaterat fakta, höll jag en gång ett världsrekord i <span class="link">Elasto Mania<Image class="about__thumb" width={200} src={elasto} alt="Elasto Mania" /></span>.</p>
  </span>
</section>
