---
import ThemeToggle from "./ThemeToggle.astro";
---

<footer>
    <nav class="footer__nav">
        <div class="footer__toggle">
            <ThemeToggle />
        </div>
        <div class="footer__social">länkar</div>
    </nav>
</footer>
<style>
    footer {
        display: flex;
        position: sticky;
        bottom: calc(var(--spacer-m) * 2);
        margin-inline: var(--spacer-l);
    }

    .footer__nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
</style>
