---
import ThemeToggle from "./ThemeToggle.astro";
---

<footer>
    <div class="footer__wrap">
        <div class="footer__toggle">
            <ThemeToggle />
        </div>
        <div class="footer__social">
            <img class="social__img" src="/images/github.png" alt="Github" />
        </div>
    </div>
</footer>

<style>
    footer {
        display: flex;
        position: sticky;
        bottom: calc(var(--spacer-m) * 2);
        margin-inline: var(--spacer-l);
    }

    .footer__wrap {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    img.social__img {
        width: 28px;
        height: 28px;
    }
</style>
