<header class="header">
  <a class="header__logo" href="/">Klas Näsman</a>
  <nav>
    <div>
      <a href="#about">About</a>
    </div>
    <div>
      <p class="nav__projects">Projects:</p>
      <a href="#selected">Selected</a>
      <a href="#all">All</a>
    </div>
  </nav>
</header>

<script is:inline>
document.addEventListener("DOMContentLoaded", () => {
  const handleIntersection = (entries) => {
    entries.forEach((entry) => {
      const targetId = entry.target.id;
      const targetNavLink = document.querySelector(`a[href="#${targetId}"]`);

      if (entry.isIntersecting) {
        targetNavLink.classList.add("active");
      } else {
        targetNavLink.classList.remove("active");
      }
    });
  };

  const setupObserver = () => {
    const isMobile = window.innerWidth < 750;
    const threshold = isMobile ? [0.2] : [0.5];

    const observer = new IntersectionObserver(handleIntersection, {
      rootMargin: "0px",
      threshold: threshold,
    });

    const sections = document.querySelectorAll("#about, #selected, #all");
    sections.forEach((section) => observer.observe(section));
  };

  setTimeout(setupObserver, 0);
});
</script>
