<header class="header">
  <a class="header__logo" href="/"><h1>Klas Näsman</h1></a>
  <nav>
    <div>
      <a href="#about">About</a>
    </div>
    <div>
      <p class="nav__projects">Projects:</p>
      <a href="#selected">Selected</a>
      <a href="#all">All</a>
    </div>
  </nav>
</header>
