<div class="pill"><slot /></div>

<style>
  .pill {
    display: inline-block;
    border: 1px solid var(--clr-text);
    border-radius: 2px;
    padding-inline: var(--spacer-s);
    text-transform: lowercase;
    box-shadow: 2px 2px var(--clr-text);
    transition: all 0.1s;
  }
</style>
