<input type="checkbox" id="theme__toggle" />
<label for="theme__toggle"></label>
<style>
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  :root {
    --circle: 20px;
  }
  label {
    cursor: pointer;
    width: var(--circle);
    height: var(--circle);
    display: inline-block;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    width: var(--circle);
    height: var(--circle);
    background-color: var(--clr-text);
    border-radius: calc(var(--circle) / 2);
    transition: background-color 0.4s;
  }
</style>

<style is:global>
  body.darkmode {
    --clr-bg: #121212;
    --clr-text: white;
  }
</style>
