@font-face {
  font-family: "SimonMono";
  src:
    url("https://files.cargocollective.com/c169834/ABCSimonMono-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("https://files.cargocollective.com/c169834/Inconsolata-Regular.woff2") format("woff2"),
    url("https://files.cargocollective.com/c169834/Inconsolata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Domaine Sans Text";
  src: url("https://files.cargocollective.com/c169834/DomaineSansText-Light.eot");
  src: url("https://files.cargocollective.com/c169834/DomaineSansText-Light.eot?#iefix") format("embedded-opentype"),
    url("https://files.cargocollective.com/c169834/DomaineSansText-Light.woff2") format("woff2"),
    url("https://files.cargocollective.com/c169834/DomaineSansText-Light.woff") format("woff"),
    url("https://files.cargocollective.com/c169834/DomaineSansText-Light.ttf") format("truetype"),
    url("https://files.cargocollective.com/c169834/DomaineSansText-Light.svg#DomaineSansText-Light") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}