---
import Head from "@layouts/Head.astro";
import Header from "@components/Header.astro";
import Transitions from "@components/Transitions";
import "@styles/import.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const canonicalURL = (Astro.url.pathname, Astro.site);
---

<!DOCTYPE html>
<html lang="en">
  <Head
    title="Klas Näsman"
    description="Klas Näsman is a designer and web developer based in Stockholm, Sweden"
    themeColor="#f1f1f0"
  />
  <body>
    <main class="main">
      <Header />
      <Transitions client:load>
        <slot />
      </Transitions>
    </main>
    <script>
      import "/src/assets/js/sectionObserver.js";
      import "/src/assets/js/lazy.js";
      import "@assets/js/tableSort.js";
    </script>
  </body><script is:inline>
    let darkMode = localStorage.getItem("darkMode");

    const darkModeToggle = document.querySelector("#theme__toggle");

    const enableDarkMode = () => {
      document.body.classList.add("darkmode");
      darkModeToggle.checked = true;
      localStorage.setItem("darkMode", "enabled");
    };

    const disableDarkMode = () => {
      document.body.classList.remove("darkmode");
      darkModeToggle.checked = false;
      localStorage.removeItem("darkMode");
    };

    if (darkMode === "enabled") {
      enableDarkMode();
    }

    if (darkModeToggle) {
      darkModeToggle.addEventListener("change", () => {
        if (darkModeToggle.checked) {
          enableDarkMode();
        } else {
          disableDarkMode();
        }
      });
    }
  </script>
</html>
